.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 248, 255);
  height: auto;
  flex-wrap: nowrap;
  border-top: 5px solid black;
  width: 100%;
}

.footer-info {
  padding-left: 20px;
}

/* .bottom-logo {
  padding: 15px;
  margin-right: 80px;
  height: 50px;
  width: 50px;
  transition: all 1s ease-out;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  cursor: pointer;
} */

/* .bottom-logo:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
} */
