.footer-container {
  border: 100% solid green;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-bottom {
  height: 100px;
  width: 100px;
}

.footer-info {
  cursor: pointer;
}

.footer {
  justify-content: center;
  flex-flow: column;
}
